<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dataFilePath" value="C:\data.json"/>
    <add key ="rHome" value="C:\Program Files\Microsoft SQL Server\130\R_SERVER"/>
  </appSettings>
</configuration>